body {
    margin 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    

    
    
}

#catalog {
    margin: 50px 0;
    text-align: center;  
    font-size: 30px;
        

}
.wrp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    
    width: 20%;
    min-height: 300px;
    border: 1px solid black;
    margin: 20px;
    text-align: left;
    
}

.img-block {
    max-width: 100%;
    min-height: 150px;
    padding: 5%;
    background-color: #ccc;
}

.product-name, .product-price {
    padding: 0 0 0 10px;
    font-size: medium;
    font-weight: bold;
    
.product-btn {
    margin: 10px;
    padding: 10px;
}