body {
	margin: 0;
	padding: 0;
	background-color: #ece4de;
}

.clear  {
	clear: both;
}

#controls, #properties   {
	color: #142c17;
	font: 12px Arial;
	height: 100px;
	background-color: #d4beac;
	border-bottom: 2px solid darkgray;
}

.container {
	float: left;
	position: relative;
	margin: 10px 0 0 20px;
	height: 80px;
	width: 150px;
	border-right: 1px solid darkgray;
}

input[type="button"], input[type="file"] {
	width: 115px;
}

input[type="number"] {
	width: 40px;
	position: absolute;
	right: 10px;
}

input[type="color"] {
	widows: 50px;
	height: 40px;
	margin: 20px 0 10px 40px;
}

#controls .name {
	position: absolute;
	bottom: -20px;
	width: 150px;
	text-align: center;
	right: 20px;
	font: 12px Arial;
	color: #744c40;
}
#tool-images {
	width: 50px;
	margin: 25px 0 10px 30px;
}

#tool-images img:hover, .tool-active {
	cursor: pointer;
	outline: 1px solid rgb(243, 168, 7);
	box-sizing: border-box;
	background-color: #e9ac90;
}

.tool-active {
	outline: 1px solid darkgreen;
}

#tool-size ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tool-size li:hover, .size-active {
	cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	background-color: #e9ac90;
}

/*---*/

#canvases {
	position: relative;
	margin: 5px 0 0  5px;
}

#canvases:hover {
	cursor: pointer;
}

#back-canvas {
	position: absolute;
	left: 0;
	background-color: #fff;
}

#front-canvas {
	position: absolute;
	left: 0;
}
	/*---*/

#properties {
	position: fixed;
	right: 100px;
	bottom: 50px;
	width: 130px;
	height: 150px;
	padding: 0 10px 0 10px;
	display: none;
}

#properties input[type="number"] {
	margin-right: 5px;
	width: 60px;
}

#properties-title {
	text-align: center;
}

#invert {
	width: 120px;
}